@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: "font-serif";  
}



.profileContainer{
  width: 100%;
  height: 768px;
  background-image: url("/profile-background.jpg");
  background-size: cover;
}

.profileCard{
  border-radius: 1rem;
  display: grid;
  grid-template-columns: auto auto auto;
  
}
.profileName{
  color: #000;
  grid-column: 2/7;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profileName h1{
  font-size: 2.5rem;
  font-family: "Cursive";
}
.profileDescription{
  grid-column: 1/7;
  background-color: rgba(250, 235, 215, 0.616);
}

.projectContainer ul{
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  list-style: none;
  margin : 0 1rem 0  ;
  overflow-x: scroll ;
  padding: 0 0 0 1rem;
  scroll-padding-left: 1rem;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.projectContainer ul li{
  padding: 0 0 0 0;
}

.projectContainer ul li div.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:rgb(77, 77, 51,0.2);
  border-radius: 1rem;
  width: 350px;
  height: 500px;
}

.projectContainer ul::-webkit-scrollbar{
  display: none;
}

.profileCard:hover{
  box-shadow: 7px 4px 50px #202020;
}

.AboutMe{
 background-color: rgb(77, 77, 51,0.2);
 border-radius:1rem ;
 width: 700px;
 height: 250px;
 align-items: center;
 justify-content: space-between;
  
}

.Languages{
  display: grid;
  column-gap: 2rem;
  grid-template-columns: auto auto auto auto auto;
  font-size: 1.5rem;
  
}

.technologies{
  display: grid;
  gap: 2rem;
  grid-template-columns: auto auto auto auto auto;
  font-size: 1.3rem;
}

.copyRight{
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem;

}

.contactLinks{
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 0.5rem;
}
.nav-btn{
  display: none;
}



@media only screen and (max-width: 600px){

  .profileContainer{
    width: 100%;
    height: 768px;
    background-image: url("/profile-background.jpg");
    background-size: cover;
  }

  .profileCard{
    background-color: rgb(24 24 27);
    display: flex;
    border-radius: 1rem;
    flex-direction: column;
    align-items: center;
    
    height: 652px ;
    width: 396px;
    
  }
  .profilePhoto{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: coral;
    text-align: center;
  }
  .profileName{
    color: white;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 286px;

  }
  .profileDescription{
    
    color: rgb(214 211 209) ;
    background-color: transparent;
    height: 276px;
    width: 327px;
    text-align: center;

  }
  .Languages{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    
  }
  
  .technologies{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.5rem;
  }
  .footer{
    flex-direction: column;

  }  

  .nav-btn{
    display: block;
    opacity: 1;
    padding: 1rem;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    color: aliceblue;
    background-color: #29335C;
    transition: 1s;
    transform: translateY(-100vh);
    z-index: 1;
}

header .responsive-nav {
    transform: none;
}

.nav-close-btn{
    position: fixed;
    top:0;
    right: 0;
}
  
};
  
